<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container">
      <div class="row">
        {% include sidebar.html %}
        <div id="right-bar" class="right-side col-md-10">
        	<div class="panel panel-default full-width autopagerize_page_element">
						<div class="panel-body">
							<h2 style='margin-top: 0px'>{{ page.title }}</h2>
							<p class='text-body'>{{ content }}</p>
						</div>
					</div>
          <div class="panel panel-default comments">
          {% include comments.html %}
          </div>
      	</div>
    	</div>
    </div>
  </body>

</html>